<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tmall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/store/i/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="<?= $setting['store']['values']['name'] ?>" />
    <link rel="stylesheet" href="/assets/store/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/store/css/app.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_783249_t6knt0guzo.css">
    <script src="/assets/store/js/jquery.min.js"></script>
</head>

<body data-type="">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header id="header" class="tpl-header">

        </header>
        <div id="left">

        </div>
        <!-- 内容区域 start -->
        <div class="tpl-content-wrapper ">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-cf">待收货订单列表</div>
                            </div>
                            <div class="page_toolbar am-margin-bottom-xs am-cf">
                                <form id="form-search" class="toolbar-form" action="">
                                    <div class="am-u-sm-12 am-u-md-3">
                                        <div class="am-form-group">
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <a class="j-export am-btn am-btn-success am-radius"
                                                        href="javascript:void(0);">
                                                        <i class="iconfont icon-daochu am-margin-right-xs"></i>订单导出
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-12 am-u-md-9">
                                        <div class="am fr">
                                            <div class="am-form-group tpl-form-border-form am-fl">
                                                <input type="text" name="start_time" class="am-form-field" value=""
                                                    placeholder="请选择起始日期" data-am-datepicker="">
                                            </div>
                                            <div class="am-form-group tpl-form-border-form am-fl">
                                                <input type="text" name="end_time" class="am-form-field" value=""
                                                    placeholder="请选择截止日期" data-am-datepicker="">
                                            </div>
                                            <div class="am-form-group am-fl">
                                                <div class="am-input-group am-input-group-sm tpl-form-border-form">
                                                    <input type="text" class="am-form-field" name="order_no"
                                                        placeholder="请输入订单号" value="">
                                                    <div class="am-input-group-btn">
                                                        <button class="am-btn am-btn-default am-icon-search"
                                                            type="submit"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="widget-body am-fr">
                                <div class="order-list am-scrollable-horizontal am-u-sm-12 am-margin-top-xs">
                                    <table width="100%" class="am-table am-table-centered
                        am-text-nowrap am-margin-bottom-xs">
                                        <thead>
                                            <tr>
                                                <th width="30%" class="goods-detail">商品信息</th>
                                                <th width="10%">单价/数量</th>
                                                <th width="15%">实付款</th>
                                                <th>买家</th>
                                                <th>交易状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="takeLists">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr">
                                        <ul id="nav-pagination" class="pagination"></ul>
                                    </div>
                                    <div class="am-fr pagination-total am-margin-right">
                                        <div class="am-vertical-align-middle total-list"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- 内容区域 end -->
        <!-- 内容区域 end -->
        <script id="take-list-tpl" type="text/html">
    {{each rowDatas  da i}}
    <tr>
        <td colspan="7" style="text-align:left;"><span>{{da.createTime}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>订单号：{{da.orderNo}}</span></td>
    </tr>
    <tr>
            <td class="goods-detail am-text-middle">
                    <div class="goods-image">
                        <img src="http://static.yoshop.xany6.com/201808011200282d83e3838.jpg" alt="">
                    </div>
                    <div class="goods-info">
                        <p class="goods-title">萤火付款演示</p>
                        <p class="goods-spec am-link-muted">官方客服QQ：:1361545828; </p>
                    </div>
                </td>
                <td class="am-text-middle">
                    <p>{{da.deliveryStatus}}</p>
                    <p>×1</p>
                </td>
                                                            <td class="am-text-middle" rowspan="1">
                        <p>{{da.payPrice}}</p>
                        <p class="am-link-muted">(含运费：￥{{da.expressPrice}})</p>
                    </td>
                    <td class="am-text-middle" rowspan="1">
                        <p>A*僧</p>
                        <p class="am-link-muted">{{da.userId}}</p>
                    </td>
                    <td class="am-text-middle" rowspan="1">
                        <span class="am-badge
                         am-badge-secondary">
                         {{if da.expressNo}}
                            快递配送   
                        {{else}}
                          无快递配送
                        {{/if}}                                             </span>
                    </td>
                    <td class="am-text-middle" rowspan="1">
                        <p>付款状态：
                            <span class="am-badge
                        am-badge-success">
                        {{if da.payStatus==="10"}}
                                已付款{{/if}}</span>
                        </p>
                        <p>发货状态：
                            <span class="am-badge
                        am-badge-success">
                        {{if da.orderStatus==="10"}}
                        已发货{{/if}}</span>
                        </p>
                        <p>收货状态：
                               
                            <span class="am-badge
                        am-badge-success">
                                {{da.deliveryStatus}}</span>
                        </p>
                                                                    </td>
                    <td class="am-text-middle" rowspan="1">
                        <div class="tpl-table-black-operation">
                                                                                    <a class="tpl-table-black-operation-green" href="index.php?s=/store/order/detail/order_id/10082">
                                    订单详情</a>
                                                                            </div>
                    </td>
    </tr>
    {{/each}}
</script>
    </div>
    <script src="/assets/layer/layer.js"></script>
    <script src="/assets/store/js/jquery.form.min.js"></script>
    <script src="/assets/store/js/amazeui.min.js"></script>
    <script src="/assets/public/js/site-ajax.js"></script>
    <script src="/assets/store/js/webuploader.html5only.js"></script>
    <script src="/assets/store/js/art-template.js"></script>
    <script src="/assets/store/js/app.js"></script>
    <script src="/assets/store/js/file.library.js"></script>
    <script>
        var bodyConfig = {
            active: 2,
            bodyTitle: '订单管理',
            bodyList: [{
                title: '待发货',
                active: false,
                url: '/ord/index.html'
            }, {
                title: '待收货',
                active: true,
                url: '/ord/take.html'
            }, {
                title: '待付款',
                active: false,
                url: '/ord/pay.html'
            }, {
                title: '已完成',
                active: false,
                url: '/ord/finish.html'
            }, {
                title: '已取消',
                active: false,
                url: '/ord/cancel.html'
            }, {
                title: '全部订单',
                active: false,
                url: '/ord/all.html'
            }]
        }
    </script>
    <script src="/assets/store/js/common.js"></script>
    <script src="/assets/public/jquery/page/jquery.twbsPagination.min.js"></script>
    <script src="/assets/order/take.js"></script>
</body>

</html>