<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Tmall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/store/i/favicon.ico"/>
    <meta name="apple-mobile-web-app-title" content="<?= $setting['store']['values']['name'] ?>"/>
    <link rel="stylesheet" href="/assets/store/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/store/css/app.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_783249_t6knt0guzo.css">
    <script src="/assets/store/js/jquery.min.js"></script>
</head>

<body data-type="">
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header id="header" class="tpl-header">

    </header >
    <div id="left">

    </div>
    <!-- 内容区域 start -->
    <div class="tpl-content-wrapper ">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <form id="my-form" class="am-form tpl-form-line-form" enctype="multipart/form-data" method="post" novalidate="novalidate">
                            <div class="widget-body">
                                <fieldset>
                                    <div class="widget-head am-cf">
                                        <div class="widget-title am-fl">商城设置</div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label form-require">
                                            商城名称
                                        </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" name="store[name]" value="Tmall" required="">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">
                                            是否显示首页公告
                                        </label>
                                        <div class="am-u-sm-9">
                                            <label class="am-radio-inline">
                                                <input type="radio" name="store[is_notice]" value="1" data-am-ucheck="" disabled="" class="am-ucheck-radio"><span class="am-ucheck-icons"><i class="am-icon-unchecked"></i><i class="am-icon-checked"></i></span> 开启
                                            </label>
                                            <label class="am-radio-inline">
                                                <input type="radio" name="store[is_notice]" value="0" data-am-ucheck="" checked="" disabled="" class="am-ucheck-radio"><span class="am-ucheck-icons"><i class="am-icon-unchecked"></i><i class="am-icon-checked"></i></span> 关闭
                                            </label>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">
                                            首页公告内容
                                        </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" name="store[notice]" disabled="" value="">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3 am-margin-top-lg">
                                            <button type="submit" class="j-submit am-btn am-btn-secondary">提交
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- 内容区域 end -->

</div>
<script src="/assets/layer/layer.js"></script>
<script src="/assets/store/js/jquery.form.min.js"></script>
<script src="/assets/store/js/amazeui.min.js"></script>
<script src="/assets/store/js/webuploader.html5only.js"></script>
<script src="/assets/store/js/art-template.js"></script>
<script src="/assets/store/js/app.js"></script>
<script src="/assets/store/js/file.library.js"></script>
<script>
    var bodyConfig = {
        active:6,
        bodyTitle:'设置',
        bodyList:[{
            title:'商场设置',
            active:true,
            url:'/setting/index.html'
        },{
            title:'交易设置',
            active:false,
            url:'/setting/trade.html'
        },{
            title:'配送设置',
            active:false,
            url:'/setting/dispatch.html'
        },{
            title:'短信通知',
            active:false,
            url:'/setting/message.html'
        },{
            title:'上传设置',
            active:false,
            url:'/setting/upload.html'
        }]
    }
</script>
<script src="/assets/store/js/common.js"></script>
</body>

</html>





